.navbar-area {
    width: 100vw;
    background-color: #FFFFFF;
    height: 56px; 
}

.navbar-spacing {
    display: flex;
    justify-content: space-between;
}

.mat-icon {
    font-size: 35px;
    margin-right: 3vw;
    margin-top: 0.3vh;
    margin-left: 1vw;
}

.row {
    padding-top: 1vh;
}