.instruction-card {
  display: flex;
  background-color: white;
  height: 105px;

  flex: 2 1 auto;
}

mat-icon {
  height: 62px;
  width: 62px;
  font-size: 62px;
}

.image-space {
    border: 1px solid red;
    height: 75px;
    margin-top: -40px;
    text-align: center;
    width: 114px;
    margin-left: -13px;
}

h4 {
  font-size: 14px;
}

.diy-title {
    margin-left: -81px;
    font-size: 20px;
}
