@import "variables";

.searchbar {
  background-color: $light_grey;
  color: $dark;
  border-radius: 15px;
}

mat-icon {
  transform: translateY(7px);
  color: $dark;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: .5em !important;
}
